img {
    width: 100%;
    vertical-align: middle;
}

$bgz: 1890;

body{
    background: url(../images/bg.webp) 0 0/ #{$bgz}px auto;
    animation: bgMove 25s linear infinite;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

@keyframes bgMove{
    0%{ background-position: 0 0;}
    100%{ background-position:  -#{$bgz}px 0;}
}

@for $view from $bgz through 320{
    @include rwd($view){
        body{
            background-size: #{if($view * 1.7 > $bgz, $view , $view * 1.7)}px auto;
        }

        @keyframes bgMOve{
            0%{ background-position: 0 0;}
            100%{ background-position:  -#{if($view * 1.7 > $bgz, $view , $view * 1.7)}px 0;}
        }
    }
}

.header{
    width: 100%;
    padding: 8px 15px 10px;
    background: linear-gradient(0deg,#000,rgb(73, 73, 73));
    position: sticky;
    top: 0;
    z-index: 2;
    @include rwd(790){
        padding: 1.5vw 3vw 1.5vw;
    }
    .inner{
        max-width: 1200px;
        margin: auto;
    }
    .logo{
        width: 150px;
        @include rwd(790){
            width: 16vw;
            min-width: 90px;
        }
    }
}

.cntBox{
    width: 100%;
    min-height: calc(100vh - 50px);
    padding: 20px;  
    display: flex;
    align-items: center;
    justify-content: center;
    @include rwd(790){
       flex-direction: column;
    }
    .phone{
        flex: 1;
        max-width: 350px;
        margin-right: 40px;
        position: relative;
        @include rwd(980){
            margin-right: 4vw;
        }
        @include rwd(790){
            width: 45%;
            min-width: 160px;
            flex: unset;
        }
    }

    .msgBox{
        flex: 1.5;
        max-width: 550px;
        position: relative;
        @include rwd(790){
            width: 70%;
            min-width: 270px;
            flex: unset;
        }
        .slog{
            margin-bottom: 40px;
            @include rwd(980){
                margin-bottom: 3vw;
            }
        }
        .dlBox{
            display: flex;
            justify-content: center;
        }
        .btnBox{
            margin-right: 15px;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include rwd(600){
                margin-right: 2vw;
            }
            a{
                flex: 1;
                display: flex;
                align-items: center;
                background-color: #5ECC2F;
                border-radius: 3px;
                overflow: hidden;
            }
            a+a{
                margin-top: 15px;
                @include rwd(600){
                    margin-top: 2vw;
                }
            }
            .icon{
                width: 50px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #54BB2E;
                img{
                    width: 60%;
                    @include rwd(600){
                       width: 5.5vw;
                    }
                }
            }
            .txt{
                padding: 0 10px;
                font-weight: bold;
                text-align: center;
                font-size: 18px;
                @include rwd(600){
                   font-size: 3vw;
                }
            }
        }
        .qrCode{
            width: 120px;
            @include rwd(600){
                width: 17vw;
            }
        }
    }
}





